.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text2{
    display: flex;
    justify-content: center;
}


.navlinks{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20pt;
}