.text{
    color:white;
    
}

.image-1{
  display: flex;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(96, 210, 244);
  border-width: 1px;

}

.image-2{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: yellow;
    border-width: 1px;
  
  }


.image-3{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: pink;
    border-width: 1px;
  
  }

.image-4{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: purple;
    border-width: 1px;
  }

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .MoodMode{
    display: flex;
    flex-direction: row;
    margin: 0%;
  }
