.quote{
    display: flex;
    justify-content: center;
}

.title1{
    display: flex;
    justify-content: center;
    padding: 0;
}

.author{
    display: flex;
    justify-content: center;
    margin-top: 10pt;
}

.containerQuote{
    background-color: white;
    border-radius: 5%;
   /* background-image: url('https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg');*/
}

.typewriter {
    width: fit-content;
    height: max-content;
    border-radius: 10%;
    min-height: 10vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 24;
  }
  
  .animatedTitle {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    position: relative;
    width: max-content;
    text-align: center;
  }
  
  .animatedTitle::before,
  .animatedTitle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .animatedTitle::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .animatedTitle::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 