.moodbar{
    height: 80px;
    display:flex;
    justify-content: start;
    align-items: center;
}

.mood-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.mood-menu{
    width:40vh;
    height: 40vh;
    display: flex;
    position: fixed;
    top:0; 
    right: -100%;
    transition: 850ms;
    z-index: 100;
    background-color: white;
}

.mood{
    display: flex;
}

.mood-menu.active{
 left: 0;
 transition: 250ms;
}

.mood-test{
    display:flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.mood-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 1005;
    display:flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-weight: 700;

}

.mood-test a:hover{
    background-color: rgb(255, 255, 255);
}

.mood-menu-items {
    width: 100%;
    list-style-type: none;
}

.navbar-toggle{
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: start;
    align-items: center;
}

.container{
    margin: auto;
}
