/* .moodbar{
    height: fit-content;
    display:flex;
    margin-right: 0%;
    align-items: center;
} */

.mood-bars{
    
    font-size: 2rem;
    background: none;
}

.mood-menu{
    width:80vh;
    height: fit-content;
    display: flex;
    position: fixed;
    top:0; 
    right: -200%;
    transition: 850ms;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px #93156d;
    border: none;
}


.mood-menu.active {
    left: 0;
    height: max-content;
    transition: 250ms;
    border: none;
  }

/*   .mood-test {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  } */

.mood-test a:hover {
  background-color: rgb(255, 255, 255);
}

.mood-menu-items {
  width: 100%;
  list-style-type: none;

}

.mood-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-weight: 700;
  }


.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.mood-menu-items{
    width: 10px;
}



/* @media only screen and (max-width: 750px) {
    .mood-menu-items {
      display:block;
    }
  }
 */

 .moodtitle{
    font-size: 18pt;
 }

.moodcont{
    display: flex;
   
    
}
