@media (max-width: 767px) {
    .hub-btn{
     width: 100%;
     background-color: rgb(255, 255, 255);
     height: 50px;
     position: absolute;
     left: 0%;
     bottom: 0%;
     right: 0%;
     
    }

    .text1{
        display: flex;
        justify-content: center;
        color: rgb(209, 158, 215);
        font-size: 28pt;
        margin-left: -25%;
        text-decoration: none;
    }


   }
