/* html {
  62.5% makes 1rem equal to 10px
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
} */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


code {
  font-family: 'cabin';
}

