.recommendContainer {
  margin-bottom: 10px;
  cursor: pointer;
  /* width: 15rem; */
}

.recommendContent {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.recommendContent:hover {
  background-color: rgb(130, 130, 130);
  opacity: 1.2;
}

@media screen and (min-width: 0) {
}
