.recommendContainer {
  margin-bottom: 10px;
  cursor: pointer;
  /* width: 15rem; */
}

.recommendContent {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;

}

.recommendContent:hover {
  background-color: rgb(130, 130, 130);
  opacity: 1.2;
}

@media screen and (min-width: 0) {
}
