/* progress bar */
.h2c {
  text-align: center;
  font-size: 1.3rem;
  margin: 1.7rem 0rem;
}

.card2 {
  /* box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  padding-top: 15px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px; /* 5px rounded corners */
  /* height: 28rem; */
}
.progressbar {
  width: 17rem;
  height: 1rem;
  background-color: white;
  margin-bottom: 0.3rem;
  border-radius: 1rem;
}

.progressbar div {
  height: 100%;
  background-color: rgb(0, 255, 4);
  border-radius: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.checkInFormHeader > h1 {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.questionBtn,
.log {
  font-size: 1.3rem;
  height: 2rem;
  width: 6rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  display: inline;
  background: rgb(210, 198, 188);
  color: inherit;
  border: none;
  padding: 0;

  cursor: pointer;
  outline: inherit;
}

.log:hover,
.questionBtn:hover {
  background: rgb(138, 135, 132);
}

.emoji {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 2.6rem;
  margin-top: 4rem;
}

.nextPrevDiv {
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  /* trying to separate the next and previous button  */
}

.textarea {
  width: 90%;
}

/* .checkInFormHeader {
} */

@media screen and (min-width: 1200px) {
  /* progress bar */
  .progressbar {
    width: 60rem;
    height: 1.5rem;
    background-color: white;
    margin-bottom: 5rem;
  }

  .progressbar div {
    height: 100%;
    background-color: rgb(0, 255, 4);
  }

  /* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type='radio'] {
    display: inline-block;
    width: 3rem;
    height: 3rem;
  }
  button[type='button'] {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    display: inline;
  }

  .emoji {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10rem;
  }
}

/* .gentle-tilt-move-shake:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
} */
