@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.navbar{
    height: 80px;
    display:flex;
    justify-content: start;
    align-items: center; 
}
/* 
/* .menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
 */
/* .nav-menu{
    width:250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top:0; 
   /*  left: -100%;
    transition: 850ms; 
    z-index: 100;
} */

.mood{
    display: flex;
}

/* .nav-menu.active{
 left: 0;
 transition: 250ms;
} */

/* .nav-test{
    display:flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
 */
/* .nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 1005;
    display:flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-weight: 700;

} */

/* .nav-test a:hover{
    background-color: rgb(255, 255, 255);
} */

.nav-menu-items {
    width: 100%;
    list-style-type: none;
}

/* .navbar-toggle{
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: start;
    align-items: center;
} */

.container{
    margin: auto;
}

.main-name{
    font-family: 'Pacifico', cursive;
} 

@media (max-width: 767px) {
    .hub-btn{
     width: 100%;
     position: fixed;
    }
   }

@media (max-width: 767px) {
.main-name{
 font-size: 20pt;
}  
}



.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rbga(0, 0 , 0 , 0.2);
    display: flex;
    overflow-x: auto;
    list-style-type: none;
    gap: 1rem;
}

.bottom-text{
    text-decoration: none;
}

.navlinkz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13pt;
    text-decoration: none;
    padding-top: 7px;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    margin-left: 5px;
}

.navlinkz:hover{
   
}

.navlinkz--active{
    
}